.happy-box {
  &.product {
    background: radial-gradient(ellipse at top, transparent 1%, #fff0b3);
    //color:$white;
    a {
      color:$font-color;
    }
    .nav  {
      display: block;
      &.nav-tabs {
        border: unset;
        text-align:center;
        &> li {
          float:none;
          display:inline-block;
        }
        .nav-link {
          border-radius: unset;
          border: unset;
          padding: unset;
          display: unset;
          margin: 10px;
          font-size: 20px;
          &.active {
            background: unset;
            border-bottom: 3px solid $red;
            color: $font-color;
          }
          &:hover {
            border-bottom: 3px solid $red;
          }
        }
      }
    }
    .tab-content {
      display: inline-grid;
      padding: 25px 0px;
      &>.tab-pane {
        display: flex;
      }
    }
  }
}