@import "variables";
@import "partials/partial";
@import "modules/ribbon";
@import "mixins/mixins";

@include font-face('BebasKai','../font/bebas-kai/BebasKai', 100, normal, eot woff2 woff ttf otf)
@include font-face('Arial','../font/arial-rounded/ARLRDBD_0', 100, normal, woff)
@include font-face('Calibri','../font/calibri/Calibri-Light', 100, normal, eot ttf woff)
@include font-face('Century-Gothic','../font/gothic/gothic', 100, normal, eot ttf woff)

body {
  font-family: BebasKai;
  color: $font-color;
}

a {
  text-decoration: none !important;
  color: inherit;
  &:hover {color: inherit}
}

.container {
  margin: auto;
  position: relative;
}

.text-yellow {color: $primary; }
.text-red {color: $red; }
.text-green {color: $green; }

.bg-black { background: $black }

.happy-box {
  padding: 30px 0px;
  .box-title { text-align: center }
}

h2 { font-size: $h2 }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $red;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .2s ease;
}

.happy-slot {
  position: relative;
  background: $white;
  border-radius: 3px;
  height: 267px;
  width: 195px;
  padding: 13px 10px 20px;
  color: $font-color;
  text-align: center;
  margin: 0px 10px;
  &:hover {
    .overlay {
      width: 100%;
    }
  }
  .image {
    margin: auto;
    height: 166px;
    width: 145px;
    //background: $font-color;
    margin-bottom: 3px;
  }
  .title {
    z-index: 2;
    font-size: 25px;
    line-height: normal;
  }
  .price {
    font-size: 17px;
    line-height: normal;
  }
  .overlay {
    background: $transparent-red;
    color: $white;
    font-size: 20px;
    .btn {
      margin-top: 100px;
      border: 1px solid $white;
      border-radius: unset;
      padding: .375rem 1.75rem;
      opacity: 1;
      &:hover {
        background: $white;
        color: $dark-yellow;
      }
    }
  }
}