//Primary Font
$font-stack:    Helvetica, sans-serif;

//$logo
$logo: "../images/logo.png";

//Common
//$container: 1024px;
$banner-height: 525px;
$header-top-distance: 35px;
$header-height: 57px;

//Colors
$primary: #ffe57f;
$red: #e96d6d;
$green: #6de984;
$font-color: #2e2f2d;
$white: #fff;
$black: #232323;

$dark: #232323;
$dark-red: #e9433f;
$dark-yellow: #ffb312;

$transparent-red: rgba(233, 67, 63, 0.66);

//Typography
$h1: "";
$h2: 50px;
$h3: "";
$h4: "";
$h5: "";
$h6: "";